<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JALAudioSampler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5504A0AE1C2368FF00976A94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5504A0C71C2368FF00976A94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5504A0D21C2368FF00976A94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
